# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives</b>

List popular languages for Data Science:
- Python 
- R 
- Java 
- Scala 
- C 
- C++

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
4. Scikit-learn

In [9]:
import pandas as pd
table = {'Data Science Tools': ['Jupyter Notebook', 'RStudio','IBM Watson Studio']}
table = pd.DataFrame(d)

Data Science tools

In [10]:
table

  Data Science Tools
0   Jupyter Notebook
1            RStudio
2  IBM Watson Studio

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
#This will convert 200 minutes to hours by diving by 60
round(200/60,2)

3.33

## Author
Panhawat Chhun